*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    background: #000000;
}
nav{
    height: 10vh;
    background: #5D4954;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0;
    bottom: 'body';
    opacity: 0.7;
}
.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;

}
.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
@media screen and (max-width: 768px){
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    nav{
        position: relative;
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
   .nav-links{
       position: fixed;
       background: #5D4954;
       height: 100vh;
       width: 100%;
       flex-direction: column;
       clip-path: circle(100px at 90% -10%);
       -webkit-clip-path: circle(100px at 90% -10%);
       transition: all 1s ease-out;
       pointer-events: none;
   }
   .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
   }
   .nav-links.close{
       clip-path: none;
       -webkit-clip-path: none;
   }
   .nav-links li{
       opacity: 0;
   }
   .nav-links li a{
       font-size: 25px;
   }
   .nav-links li:nth-child(1){
       transition: all 0.5s ease 0.2s;
   }
   .nav-links li:nth-child(2){
    transition: all 0.5s ease 0.4s;
   }
   .nav-links li:nth-child(3){
    transition: all 0.5s ease 0.6s;
   }
   .nav-links li:nth-child(4){
    transition: all 0.5s ease 0.8s;
   }
   li.fade{
       opacity: 1;
   }

}
/* container styling start bellow this line */
#container{
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url("../images/image6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:  rgb(226, 226, 226);
}
#main {
    overflow: auto;
    padding-bottom: 50px;
}
#naming{
    padding: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;

}
.resume{
    text-align: center;
    
}
.resume button{
    background: #5D4954;
    font-size: 30px;
    color:  rgb(226, 226, 226);
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
}
.resume button:hover{
    cursor: pointer;
    border: outset;
}
/* this is the image id style bellow this line */
#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70%;
    width: 300px;
    border: outset;

}
.about{
    font-size: 30px;
    margin: auto;
    width: 80%;
    height: 50vh;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    vertical-align: middle;
    display: table-cell;
    color: #ffffff;
}
.images{
    width: 100%;
    vertical-align: middle;
    margin: auto;
    font-size: 30px;
    
}
#title{
    padding-left: 15px;
    color: #ffffff;
}
#skills{
    top: 80px;
    height: 50vh;
    margin: auto;
    text-align: center;
    color: #ffffff;

}
/* CSS PICTURE ANIMATION START HERE */
#img1{
    -webkit-transition: all 0.4s ease-out;
       -moz-transition: all 0.4s ease-out;
         -o-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
    margin: 10px;
}

#img1:hover{
    -webkit-transform: rotate(380deg); /*safari 3.1+, chrome*/
       -moz-transform: rotate(380deg); /*firefox 3.5-15*/
        -ms-transform: rotate(380deg); /*IE9+ */
         -o-transform: rotate(380deg); /*Opera 10.5-12.00*/
            transform: rotate(380deg); /*firefox !6+, Opera 12.50+ */
}

#img2{
    -webkit-transition: all 0.4s ease-out;
       -moz-transition: all 0.4s ease-out;
         -o-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
    margin: 10px;
}
#img2:hover{
    -webkit-transform: rotate(380deg); /*safari 3.1+, chrome*/
       -moz-transform: rotate(380deg); /*firefox 3.5-15*/
        -ms-transform: rotate(380deg); /*IE9+ */
         -o-transform: rotate(380deg); /*Opera 10.5-12.00*/
            transform: rotate(380deg); /*firefox !6+, Opera 12.50+ */
}
#img3{
    -webkit-transition: all 0.4s ease-out;
       -moz-transition: all 0.4s ease-out;
         -o-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
    margin: 10px;
}
#img3:hover{
    -webkit-transform: rotate(380deg); /*safari 3.1+, chrome*/
       -moz-transform: rotate(380deg); /*firefox 3.5-15*/
        -ms-transform: rotate(380deg); /*IE9+ */
         -o-transform: rotate(380deg); /*Opera 10.5-12.00*/
            transform: rotate(380deg); /*firefox !6+, Opera 12.50+ */
}
/* THIS THE END OF THE CSS PICTURE ANIMATION */
.education{
    /* height: 40vh; */
    color: #ffffff;
    
}
.education-blocks{
    display: flex;
    margin: 0 auto;
    
}

#footer{
    background-color:  #5D4954;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    opacity: o.7;
    
}

@media screen and (max-width:768px){
    #container{
        height: 100%;
    }
}
#foot{
    text-align: center;
    padding-top: 20px;
    color: rgb(226, 226, 226);
}
